<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dribble</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"
            >Inspiration</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FindWork</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">LearnDesign</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GoPro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">HireDesigners</a>
        </li>
      </ul>
      <form class="d-flex">
        <mat-icon class="icon">search</mat-icon>
        <button type="button" class="btn btn-light">Sign in</button>
        <button type="button" class="btn button">Sign up</button>
      </form>
    </div>
  </div>
</nav>
<!-- card -->
<div class="content">
  <div class="container">
    <div class="card my-5 border-0" style="width: 40rem; height: 40rem">
      <div class="card-body">
        <div class="card-heading my-5">
          <img src="" class="image" alt="logo" />
          <div class="text mx-5">
            <h5 class="card-title">Login From Prototype</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Afterglow . Follow <span class="span"> HireUs</span>
            </h6>
          </div>
          <div class="card-button text-end">
            <button type="button" class="btn btn-light">Save</button>
            <button type="button" class="btn button">Primary</button>
          </div>
        </div>

        <img
          src="assets/Images/Log In image.JPG"
          class="card-img-top"
          alt="log in"
        />
      </div>
    </div>
  </div>
  <!-- icon list -->
  <div class="button_list">
    <button mat-stroked-button class="button-icon">
      <mat-icon class="icon">feedback</mat-icon>
    </button>
    <button mat-stroked-button class="button-icon"><mat-icon class="icon">share</mat-icon></button>
    <button mat-stroked-button class="button-icon"><mat-icon class="icon">info</mat-icon></button>
  </div>
</div>
