@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-heading {
    display: flex;
    flex-direction: row;
}
.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
   
}
.card-button {
    flex: 1;
}
.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.icon {
   margin-top: 10px;
}
.span {
    color:#FF1493 ;
}
.button {
    background-color: #FF1493;
    color: aliceblue;
    margin: 5px;
    border-radius: 5px;
}

.button_list {
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: row;
}
.button-icon {
    margin-top: 10px;
    margin: 5px;
    border: black solid;
}